*.o
*.log
Makefile
Makefile.in
*~
2010-01-16-screenshot.png
ABOUT-NLS
aclocal.m4
autom4te.cache/
build/
config.h
config.h.in
config.status
configure
libtool
m4/
package/
po/ChangeLog
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/es.gmo
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-it
po/tbo.pot
src/.deps/
src/tbo
st
stamp-h1
